.container{
display: grid;
grid-template-areas: 
"head head head"
"menu main right"
"menu foot foot" ;
}
div{
    border: 2px solid;
}


.head{
    background-color: rgb(37, 37, 216);
    grid-area: head;
}
.menu{
    background-color: rgb(194, 141, 163);
    grid-area: menu;
   
}
.main{
    background-color: rgb(141, 141, 194);
    grid-area: main;
    
}
.right{
    background-color: rgb(201, 161, 53);
    grid-area: right;}

    
.foot{
    background-color: rgb(158, 24, 24);
    grid-area: foot;
    
}























